.body {
  width: 80%;
  margin: 0 auto;
}
.content {
  display: flex;
}
.contentDetail {
  width: 50%;
}
.title {
  text-align: center;
}
.textWrapper {
  width: 83%;
  margin: 0 auto;
}
.imgWrapper {
  width: 50%;
}
.img {
  width: 100%;
}

.right-content {
  display: flex;
  justify-content: center;
}
.sectionTitleWrapper {
  /* display: flex;
  justify-content: center; */
  width: 50%;
}
.sectionTitle {
  max-width: 500px;
  text-align: center;
}
