.body{
  width: 80%;
  margin: 0 auto;
}
.left-content {
  display: flex;
  justify-content: center;
}
.imgWrapper {
  width: 50%;
}
.img {
  width: 100%;    
}
.pageTitleWrapper {
  display: flex;
  justify-content: center;
  max-width: 400px;
}
.pageTitle {
 text-align: center;
}

.right-content {
  display: flex;
  justify-content: center;
}
.sectionTitleWrapper {
  /* display: flex;
  justify-content: center; */
  width: 50%;

}
.sectionTitle {
  max-width: 500px;
  text-align: center;
}